<header class="header">
  <div class="overlay"></div>
  <div class="container">
    <div class="description text-left">
      <h3>
        <font>
          Привет, добро пожаловать на сайт.
          <p>
            Этот ресурс посвящен эффективному планированию и организации рабочего дня: методы, правила и почему это важно </p>
        </font>
      </h3>
    </div>
  </div>

</header>



<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">

      <li class="nav-item">
        <a class="nav-link" href="/registration">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/entry">Вход</a>
      </li>
    </ul>

  </div>
</nav>